.our-team-header {
  color: $text-grey-darken-4;
  .team {
    font-weight: 700;
    letter-spacing: 1rem;
    text-decoration: underline;
  }
}

.dark-theme {
  .our-team-header {
    color: #ffffff;
  }
}


.slider {
  margin-top: 45px;
  .slides {
    height: 410px !important;
    border-radius: 10px;
    .teammate-1 {
      border-radius: 10px;
      background-color: #c5b315;
      background-image: linear-gradient(315deg, #c5b315 0%, #dc721a 52%, #f44b4b 100%);
    }

    .teammate-2 {
      border-radius: 10px;
      background-color: #c5b315;
      background-image: linear-gradient(225deg, #c5b315 0%, #dc721a 52%, #f44b4b 100%);
    }

    .teammate-3 {
      border-radius: 10px;
      background-color: #c5b315;
      background-image: linear-gradient(90deg, #c5b315 0%, #dc721a 52%, #f44b4b 100%);
    }
  }
}

.slider .indicators .indicator-item {
  background-color: $button-background-color;
}

.slider .indicators .indicator-item.active {
  background-color: $button-color;
}

.background-1 {
  background-color: #FFE53B;
  background-image: linear-gradient(45deg, #FFE53B 0%, #ff7825 74%);
}

.slider .slides li .img {
  width: 120px;
  border-radius: 60px;
}

.slider .slides li .github-logo-about {
  width: 41px;
  height: 40px;
  position: relative;
  left: -270px;
  top: 50px;
}

.teammate-name {
  position: relative;
  top: -40px;
  left: 10px;
  font-size: 2.9rem;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    font-size: 1.8rem;
    top: 0px;
    position: static;
    display: block;
  }
  .name {
    font-weight: 300;
  }
}

.contribution {
  font-weight: 300;
  margin-top:  14px;
  margin-bottom: 7px;
  &:first-of-type {
    margin-top: 0;
  }

  @media (max-width: $tablet-width) {
    margin-top:  10px;
    margin-bottom: 4px;
    font-size: 1.2rem;
  }
}

.teammate-github {
  font-weight: 600;
  margin-top: 10px;

  @media (max-width: $tablet-width) {
    margin-top:  4px;
  }

  a {
    color: $text-grey-darken-4;
  }
}
