body {
  background-image: url('../assets/background-home.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body.dark-theme {
  background-color: $dark-theme-background-color;
}

.nav-wrapper,
.main-wrapper,
.footer-wrapper {
  padding: 0 1%;
}

.nav-wrapper {
  position: relative;
  .brand-logo {
    @include flex(flex-start, center );
    font-family: 'Atomic Age', cursive;

    @media (max-width: $mobile-width) {
      font-size: 1.6rem;
    }
  
    .school-logo {
      width: 65px;
    }
  }

  .login-button-header {
    @include flex(flex-start, center );
    margin-top: 15px;

    @media (max-width: $tablet-width) {
      margin-top: 10px;
      padding: 2px 5px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 15px;
      padding: 0px 2px 0px 0px;
      height: 30px;
    }
  }

  .nav-items {
    text-transform: uppercase;
  }
}

.mobile-school-logo {
  width: 100%;
  display: inline-block;
  padding-top: 15px;
}

.main {
  text-align: center;
  flex: 1 0 auto;
}

.footer-wrapper {
  background-color: rgba(51,51,51,0.08);
  @include flex(space-between, center );
  padding: 1vh 1%;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: center;
  }

  .school-link-block {
    @include flex(flex-start, center );
    gap: 10px;
    
    .rss_logo {
      width: 70px;
    }
  }

  .team-links {
    @include flex(center, center );
    gap: 15px;

    .github-logo {
      width: 30px;
    }
  }
}

.games-page {
  @include flex(center, center );
  flex-direction: column;

  .games-page__header {
    color: $text-grey-darken-4;
    @media (max-width: $tablet-mobile-width) {
      font-size: 2.5rem;
    }
    span {
      display: inline-block;
      font-weight: 700;
      letter-spacing: 1rem;
      text-decoration: underline;

      @media (max-width: $tablet-mobile-width) {
        letter-spacing: 0.5rem;
      }
    }
  }

  .games-page__buttons {
    @include flex(center, center );
    width: 100%;
    flex-wrap: wrap;

    .btn {
      margin: 4%;
      width: 20%;

      @media (max-width: $desktop-width) {
        width: 40%;
      }

      @media (max-width: $tablet-mobile-width) {
        width: 100%;
        margin-bottom: 3%;
      }

      .material-icons {
        font-size: 2.5rem;
        margin-right: 0;
      }
    }
  }

  .games-page__image-block {
    align-self:  flex-end;

    @media (max-width: $tablet-width) {
      align-self:  center;
    }

    .games-page__image {
      height: 40vh;
    }
  }
}

.dark-theme {
  .games-page {
    .games-page__header {
      color: $text-light-color;
    }
  }
}
