.sprint-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    border: rgb(106, 106, 106) solid 2px;
    border-radius: 10px;
    padding: 10px;
}

.header-game {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 80px;
    /* align-items: center; */
    min-width: 280px;
}

.main-game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 200px;
    justify-self: flex-end;

}

.answer-circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 120px;
}

.answer-circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(106, 106, 106); 
}

.text-points {
    font-size: 12px;
    color: #212121;
}

.dark-theme .text-points {
    color: #ffffff;
}

.border-animation-correct {
    animation-name: border-correct;
    animation-duration: 0.2s;
}

@keyframes border-correct {
    50%   {
        border-color:rgb(0, 255, 0);
        box-shadow: 1px 1px 2px rgb(0, 255, 0), -1px -1px 2px rgb(0, 255, 0);
        background-color: rgb(0, 255, 0, 0.3);
    }
  }

  .border-animation-wrong {
    animation-name: border-wrong;
    animation-duration: 0.2s;
}

@keyframes border-wrong {
    50%   {
        border-color:rgb(255, 0, 0);
        box-shadow: 1px 1px 2px rgb(255, 0, 0), -1px -1px 2px rgb(255, 05, 0);
        background-color: rgb(255, 0, 0, 0.3);
    }
  }

.study-sprint-container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    justify-content: center;
}

.audio-image-container {
    margin-left: auto;
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.text-word {
    font-size: 32px;
    font-weight: 600;
    margin: 5px 0;
    color: #212121;
}

.text-translate {
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0;
    color: #212121;
}

.dark-theme .text-word,
.dark-theme .text-translate {
    color: #ffffff;
}

.variants-sprint-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    min-width: 300px;
}

.yes-variant, .no-variant {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 10px;
}

.sprint-text-variant {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.yes-variant {
    background-color: rgb(33, 249, 0);
}

.no-variant {
    background-color: red;
}

.button-variant {
    transition: all 0.2s;
}

.button-variant:disabled {
    color: black;
}

.button-variant:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 2px 1px #ffffff;
}

.game-tools-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.timer {
    border:rgba(100, 100, 100) solid 2px;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 26px;
    font-weight: 400;
    color: rgb(100, 100, 100);
    width: 55px;
    height: 55px;
    text-align: center;
}

.timer:hover {
    cursor: pointer;
}

.score {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
}

.cross-container {
    font-size: 26px;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.correct-circle {
    background-color: #00ff00;
    color:#ffffff;
}

.cross-container:hover {
    cursor: pointer;
}

