.modal-content {
  overflow-x: hidden;

  .tabs {
    overflow-x: hidden;

    .tab-modal {
      width: 50%;

      a.active {
        font-weight: 700;
      }
    }
  }
}

#log-in-swipe,
#registration-swipe {
  padding-top: 20px;
}

.log-in-button,
.register-button {
  width: 30%;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}