@font-face {
  font-family: 'Lato';
  src: url('../../assets/fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../../assets/fonts/Lato-Bold.ttf');
}
.container {
  font-family: Lato;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.controls {
  display: flex;
  gap: 10px;
}
.words__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  gap: 20px 0;
  align-items: center;
  flex-direction: column
}

.word {
  width: 1000px;
  display: flex;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(250, 252, 254);
  &__img {
    width: 30%;
  }

  &__descr {
    margin-left: 20px;
  }

  &__header {
    display: flex;
    font-weight: 400;
    gap: 0 10px;
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__text {
    font-family: Lato-Bold;
    &-meaning,
    &-meaning-translate {
      color: rgba(0, 0, 0, 0.8);
      font-size: 16px;
    }
    &-example,
    &-example-translate {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
    }
    &-example {
      margin-top: 20px;
    }
  }
  &__transcription {
    color: rgba(0, 0, 0, 0.54);
  }
  &__controls {
    width: 10%;
    margin-left: auto;
    display: flex;
    align-items: end;
    flex-direction: column;
  }
  &__btn {
    width: 120px;
    margin-top: 10px;
    display: none;
    cursor: pointer;
    border: none;
    height: 30px;
    transition: 0.3s;
    &:hover {
      transform: scale(0.95);
    }
    &_active {
      display: block;
    }
  }
  &__audio {
    display: block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background: #fff;
    margin-bottom: 50px;
    transition: 0.3s;
    &-img{
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.04);
      transform: scale(0.95);
    }
  }
}
.group__item:hover,
.page__item:hover {
  background-color: #fc7349 !important;
}
#page-dropdown {
  max-height: 500px !important;
}

.current-page {
  width: 150px;
}
