.audio-call-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    row-gap: 20px;
}

.studied-word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 230px;
    white-space: normal;
}

.image-audio {
    padding: 10px;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 75px;
}

.image-word {
    width: 225px;
    height: 150px;
    border-radius: 10px;
}

.image-word-container:hover, 
.audio-icon-container:hover, 
.navigation:hover, 
.ignorance:hover {
    cursor: pointer;
}

.correct-answer-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 0;
    padding: 20px 0;
    row-gap: 10px;
}

.audio-icon-container {
    padding: 2px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

.text-answer {
    font-size: 2.5rem;
    line-height: 0;
    font-weight: 500;
    margin: 0;
    white-space: normal;
}

.visible-flex {
    display: flex;
}

.variants-answers-container {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    row-gap: 20px;
}

.text-variant-container {
    min-width: 250px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 0;
    font-size: 22px;
    font-weight: 500;
    border-radius: 10px;
    padding: 0 7px;
    border: solid 2px #bf360c;
}

.text-variant-container:disabled {
    color: black;
}

.text-variant-container:hover {
    cursor: pointer;
}

.navigation, 
.ignorance {
    align-self: center;
}

.navigation {
    display: none;
}

.text-navigation, 
.text-ignorance {
    width: 200px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    line-height: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
}

.correct-answer {
    background-color: rgba(0, 255, 0, 0.9);
}

.wrong-answer {
    background-color: rgba(255, 0, 0, 0.9);
}

.image-word {
    display: none;
}

.visible-block {
    display: block;
}

.hidden {
    display: none;
}

.statistic-container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.mistake-statistic-container, 
.success-statistic-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.statistic-navigation-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    gap: 15px;
    padding: 30px 0;
}

.statistic-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    align-self: center;
}

.mistake-title, 
.success-title {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0;
    align-self: center;
}

.statistic-container p {
    font-size: 1.5rem;
    font-size: 600;
    margin: 0;
}

.mistake-statistic-container .statistic-word-span {
    color:rgb(255, 0, 0);
    font-weight: 500;
}

.dark-theme .mistake-statistic-container .statistic-word-span {
    color:rgb(161, 0, 0);
    font-weight: 500;
}

.success-statistic-container .statistic-word-span {
    color:rgb(0, 220, 0);
    font-weight: 500;
}

.count-mistake, 
.count-success {
    display: inline-block;
    padding: 3px 5px;
    border-radius: 10px;
    color: #ffffff;
}

.count-mistake {
    background-color: rgb(255, 0, 0);
}

.count-success {
    background-color: rgb(0, 220, 0);
}

.statistic-translate-span {
    color:rgb(100, 100, 100);
}

.dark-theme .statistic-translate-span {
    color:#ffffff;
}

.statistic-play-again-button, 
.statistic-home-page-button {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    padding: 10px 0px;
    font-size: 1.5rem;
    font-weight: 500;
    color:rgb(75, 75, 75);
    width: 200px;
}

.statistic-play-again-button:hover, 
.statistic-home-page-button:hover {
    cursor: pointer;
}

.start-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;
    text-align: center;
    position: relative;
}

.start-title {
    font-size: 2rem;
}

.difficulty-level-container {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.difficulty-level {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 2.5rem;
    border: none;
}

.difficulty-level:hover {
    cursor: pointer;
}

#level1 {
    background-color: rgba(255, 255, 255, 0.7);
}

#level2 {
    background-color: #fefe93;
}

#level3 {
    background-color: #e2e201;
}

#level4 {
    background-color: #f19900;
}

#level5 {
    background-color: #ff5555;
}

#level6 {
    background-color: #980000;
}

.preloader-wrapper.active {
    position: absolute;
    top: 50%;
    left: calc(50% - 25px);
}

@media (max-width: 768px) {

    .text-answer {
        font-size: 1.5rem;
    }

    .statistic-title {
        font-size: 2rem;
    }
  }