.main-wrapper {
  .statistic-header {
    margin-top: 40px;
    color: $text-grey-darken-4;
    font-weight: 300;
  }
  
  .statistic-image {
    position: absolute;
    right: 0;
    bottom: 45px;

    @media (max-width: $tablet-width) {
      width: 300px;;
    }
  }
}

.dark-theme {
  .main-wrapper {
    .statistic-header {
      color: $text-light-color;
    }
  }
}
